@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 10%;
    background-color: rgb(211, 234, 240);
    font-family: helvetica;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    background: white;
    border-radius: 20px;
    width: 600px;
    border: 3px dashed black;
}

select {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background-color: white;
    margin-left: 11%;
}

h2 {
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0 auto;
}

p {
    margin: 0 auto;
}

header img {
    height: 70px;
    width: 70px;
}

ul {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

li img {
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

li {
    list-style-type: none;
    margin: 10px 30px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-style: italic;
    color: rgb(87, 87, 87);
}
